{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> انشاء حساب </title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    

    <div class="main">
        <img src="{% static 'images/bg.png' %}" alt="">

        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <h1>انشاء حساب </h1>

                <input name="username" type="text" placeholder="اسم المستخدم">
                <input name="email" type="email" placeholder="البريد الالكتروني">                
                <input name="password" type="password" placeholder="كلمة المرور">

                <div class="btns">
                    <button type="submit">انشاء</button>
                    <span>
                        <p>لديك حساب بالفعل ؟</p>
                        <a href="{% url 'login' %}">تسجيل الدخول</a>
                    </span>
                </div>

            </form>
        </div>

        <footer>
            <p>تم التطوير والانشاء بواسطة : رضوان جابر حجازي</p>
        </footer>

    </div>
    

</body>
</html>